<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" 
    content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">

    <header>
        <h1 class="display-4"><%= title %></h1>
    </header>
    <div class="text-danger"><%= content %></div>
    <div role="main">
        <form method="post" action="/users/forget">
        <div class="form-group">
            <label for="name">NAME（確認用）</label>
            <input type="text" name="name" id="name" value="<%=form.name %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="mailAddress">MAILADDRESS（確認用）</label>
            <input type="text" name="mailAddress" id="mailAddress" value="<%=form.mailAddress %>" class="form-control">
        </div>
        </br>
        </br>
        </br>
        <div class="form-group">
            <label for="passWord">PASSWORD（※修正したいパスワードを入力してください。）</br>
                <div class="text-danger">PASSWORDはそのまま保存されます。ご注意ください。</div>
            </label>
            <input type="passWord" name="passWord" id="passWord" value="<%=form.passWord %>" class="form-control">
        </div>

        <input type="submit" value="パスワードの修正" class="btn btn-primary">
        </br>
        </br>
        <a href="/users/login" class="btn btn-success">ログイン画面へ</a>
        </br>
        </br>
        <a href="/users/add" class="btn btn-success">アカウント作成へ</a>
        </form>
    </div>
</body>

</html>